body{
  color: #121212;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a{
  text-decoration: none;
  color: #fff;
}

form{
  text-align: center;
}

footer{
  display: flex;
  justify-content: center;
  background: #105D77;
  color: #fff;
  width: 100%;
  text-align: center;
}


.btn{
    border: none;
    background-color: #3BBCE4;
    display: inline-flex;
    padding: 13px 50px 10px 43px;
    gap: 10px;
    border-radius: 10px;
    color: #FFF;
    text-transform: uppercase;
  }
  .btn:active {
    vertical-align: top;
    padding-top: 8px;
}
  .btn a{
    text-decoration: none;
  }

h1{
    color: #3CBBE4;
    
}
h2{
  color: #3CBBE4;
  font-size: 25px;
  text-align: center;
}
h3{
  font-size: 15px;
  text-align: center;
}
h4{
  color: #3CBBE4;
  font-size: 30px;
  text-align: center;
}
h5{
  color: #fff;
  font-size: 30px;
  text-align: center;
}
/* Top contact information */
#contact{
    width: 100%;
    height: 90px;
    background: #105D77;
    display: flex;
    justify-content: center;
    color: #FFF;
    padding-left: 10%;
}
#contact img{
    width: 20px;
    height: 20px;
    padding: 35px 10px 20px 10px
}
#contact p{
    padding-top: 20px;
}

/* Navigaation */
.nav{
    
    display: flex;
    justify-content: center;
}


.nav a{
    text-decoration: none;
    font-size: 16px;
    color: #121212;
    padding-left: 10px;
}

#current{
    text-decoration: underline;
    text-decoration-color: #B1152A;
    text-decoration-thickness: 3px;
    
}

.nav a:hover{
    color: #3BBCE4;
    font-weight: bold;
}

.nav img{
    width: 30%;
    height: 20%;
}
#nav{
    padding-top: 10%;
    margin-left: 5%;
}
/* Big Image */
.img1{
    display:flex;
    justify-content: center;
    
}

.img1 img{
    max-width: 100%;
}

/* welcome message */
.container{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-left: 5%;
    width: fit-content;
}
#welcomeImg{
    width: 50%;
    height: 50%;
}
.welcomeMessage{
    padding-left: 5%;
}


  /* How it works section */
  #howItWorks{
    padding-left: 25px;
    }
  
  #btn1{
    background-image: url( '../img/ph_arrow-right-bold.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    align-items: flex-end;
  }
  #ellipse{
    width: 100%;
    height: 400px;
    background-image: url( '../img/ellipseBig.png'), url( '../img/ellipseMedium.png'),  url( '../img/ellipseSmall.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10%;
    margin-right: 10%;
   
  }
  
  .imageContainer{
    text-align: center;
    position: relative;
    text-align: center;
   
  }

  .imageText{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color:#FFF;
    
  }

  #ellipseImage1{
  top: 20%;
  right: 35%;
  margin-right: 10%;
  }
  #ellipseImage2{
    bottom: 20%;
    left: 50%;
  }
  #ellipseImage3{
    bottom: 20%;
  }

  /* Core support services section */
  .noFillBtn{
    background-image: url( '../img/ph_arrow-right-bold.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    align-items: flex-end;
    background-color:#E1E1E1;
    color: #3BBCE4;
  }

  #blueGetStarted{
    color: #3BBCE4;
  }

  .supportServices{
    text-align: center;
    margin-top: 10%;
    
  }
  .supportServices h1{
    margin-bottom: -5%;
  }
  
  .cards{
    background-color:#E1E1E1; 
    border-radius: 20px;
    margin: 10px 20px 20px 20px;
  }

  .roundCards{
    width: 100px;
    height: 100px;
    background-color:#E1E1E1; 
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin: 0 100px 0 100px;
  }
.roundCards img{
  width: 50%;
  height: 50%;
  padding-top: 20px;
}
  .roundCardsContainer{
    margin-left: 10%;
  }

  /* strategic direction */
  .strategicContainer{
    width: 100%;
    border-radius: 30px;
    background: #E0E0E0;
  }
  .strategicContainer img{
    width: 50%;
    padding: 10px;
  }
  .NDIS{
    align-items: center;
    border-radius: 20px;
    background: #E0E0E0;
    padding: 20px;
    width: 45%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
  }
  .NDIS ul{
    padding: 20px;
    padding-bottom: 125px;
  }
  #img9{
    width: 40%;
    height: 30%;
  }

  /* Stay Connected section */
  .imageText1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color:#FFF;
    width: 100%;
  }
  .imageText2{
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color:#FFF;
  }
  .imageText3{
    position: absolute;
    top: 90%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color:#FFF;
    font-size: 6px;
    width: 100%;
  }
  .participantBook{
    background: #EC4757;
    color: #FFF;
    width: 100%;
    height: 250px;
   padding-right: 2%;
   
  }
  .bookImage{
    margin-top: -20%;
    padding-right: 2%;
    
  }
  .stayConnected{
    margin-top: 10%;
    margin-left: 5%;
  }
  .stayConnected h2{
    margin-bottom: -5%;
    margin-left: -10%;
    font-size: 40px;
  }
  .stayConnectedImg{
    margin: 2%; 
  }
  #available{
    border: solid #fff 2px;
    border-radius: 5px;
    font-size: 12px;
  }

  .instagramBtn{
    border: none;
    background-color: #AD1126;
    display: inline-flex;
    padding: 13px 50px 10px 43px;
    gap: 10px;
    border-radius: 10px;
    color: #FFF;
    margin-left: 35%;
    background-image: url( '../img/Instagram1.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left 15px center;
    align-items: flex-end;
   
  }

  /* Alternate contact section */
  .altContact{
    text-align: center;
    margin-top: 10%;
  }
  #time{
      padding-right: 15%;
      margin-bottom: -7%;
  }
  #emailUs{
    background-color: #CBE8F6;
    width: 480px;
    height: 150px;
    border-radius: 30px;
    margin-right: 5%;
    background-image: url( '../img/ic_outline-mailblue.png');
    background-repeat: no-repeat;
    background-position: left 40px center;
    align-items: flex-end;
  }
  
  #emailUs h3{
    padding-top: 8%;
  }
  #callUs{
    background-color: #CBE8F6;
    width: 480px;
    height: 150px;
    border-radius: 30px;
    background-image: url( '../img/solar_phone-linear.png');
    background-repeat: no-repeat;
    background-position: left 50px center;
    align-items: flex-end;
  }
  #callUs h3{
    padding-top: 8%;
  }

  /* contact form */
  .contactUsForm{
    text-rendering: auto;
    text-align: center;
    margin-top: 10%;
  }

  #inquiries{
    padding-right: 10%;
  }
  .smallInputs{
    margin-right: 10%;
  }
  .smallInput{
    padding-top: 2%;
    padding-bottom: 3%;
    width: 25%;
    height: 20px;
    border-radius: 10px; 
    border: 1px solid #3BBCE4;
    margin: 1%;
  }
  .smallInput:focus{
    outline-color: transparent;
    border: 3px solid #3BBCE4;;
  }
  #message{
    padding-bottom: 20%;
    width: 73%;
    height: 100px;
    border-radius: 20px; 
    border: 1px solid #3BBCE4;
    margin-right: 10%;
  }

  #message:focus{
    outline-color: transparent;
    border: 3px solid #3BBCE4;;
  }
#submitNow{
  margin-left: 50%;
}

/* contact us section */
.contactUs{
  background: #105D77;
  margin-top: 10%;
  width: 100%;
  color: #fff;
}

.ctrl{
  padding-left: 10%;
}

.contacts{
  margin-left: 20%;
}
.vector{
  margin-right: 10px;
  height: 50%;
  padding-top: 5%;
}
.supportCoordination p{
  padding-right: 10px;
  margin-top: -10%;
  color: #80D3ED;
}
.supportCoordination {
  margin-left: -4%;
}
.unsplash{
  width: 100%;
  height: 193px;
  background-color: #CBE8F6;
  display: flex;
  justify-content: center;
}
#unsplash{
  width: 60%;
  height: 100%;
}
.unsplash p{
 padding: 1%;
  color:#319BCA;
}



/* contact us page */
.contactUsCard{
  margin-left: 25%;
  margin-bottom: 10%;
  padding: 2%;
  width: 50%;
  border-radius: 20px;
  border-right: 3px solid #105D77;
  border-left: 3px solid #105D77;
  background: #E0E0E0;
  text-align: center;
}

.supportYou{
  text-align: center;
}

.callToday{
  margin-left: 100px;
  padding-right: 300px;
  
}
.detail{
  width: 450px;
}

.detailMessage{
  padding-bottom: 20%;
  height: 100px;
  border-radius: 20px; 
  border: 1px solid #3BBCE4;
  margin-right: 10%;
  width: 450px;
}

#hours{
  color: #3CBBE4;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.detailMessage:focus{
  outline-color: transparent;
  border: 3px solid #3BBCE4;;
}

/* About us page */
.whoWeAre{
  padding-left: 10%;
}

.missionStatement{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.jobOpportunities{
  margin-left: 5%;
  width: 90%;
  padding: 5%;
  background-color: #105D77;
  border-radius: 20px;
  height: 500px;
}
.jobOpportunities p{
  color: #fff;
}

/* Youth Mentoring page */
.youthMentoring{
  background-image: url( '../img/image\ 24.png');
  background-repeat: no-repeat;
  height: 400px;
  color:#fff;
  text-align: center;
  padding-top: 10%;
  font-size: large;
}

.ulBox{
  display: flex;
  justify-content: center;
  line-height: 200%;
}
#ul1{
  padding-right: 10%;
}
.ymContainer{
  background-color: #105D77;
  margin-top: 10%;
}
.ymContainer p{
  color: #fff;
  padding-bottom: 10%;
}


/* training service */
.behaviourMgt{
  background-image: url( '../img/image\ 40.png');
  background-repeat: no-repeat;
  height: 400px;
  color:#fff;
  text-align: center;
  padding-top: 10%;
  font-size: large;
}
.personalizedBehaviour{
  text-align: center;
  padding: 10%;
}
#listOfServices{
  border-radius: 20px;
  background: #E0E0E0;
  margin-left: 5%;
  margin-right: 0.2%;
  padding-right: 5%;
}
#listOfServices ul{
  line-height: 30px;
}
#smallPhone{
  border-radius: 10px;
  background: #3BBCE4;
  width: 190px;
  height: 50px;
  padding: 10px 35px 10px 15px;
  align-items: center;
  background-image: url( '../img/smallWhitephone.png');
  background-repeat: no-repeat;
  background-position: left 20px center;
  align-items: flex-end;
  text-align: center;
  color: #fff;
  margin-left: -10%;
}
#smallEmail{
  border-radius: 10px;
  background: #3BBCE4;
  width: 270px;
  height: 50px;
  padding: 10px 35px 10px 15px;
  align-items: center;
  background-image: url( '../img/smallWhiteEmail.png');
  background-repeat: no-repeat;
  background-position: left 20px center;
  align-items: flex-end;
  text-align: center;
  color: #fff;
  margin-left: 10%;
}

.therapists{
  background-color: #CBE8F6;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 10%;
  padding-bottom: 10%;
  padding-right: 15%;
  padding-left: 10%;
}

#bigLocationIcon{
  padding-right: 10%;
  
  height: 312px;
}




/* Dropdown Button */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding-bottom: 2px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #3CBBE4;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color:#3BBCE4;
  font-weight: bold;
}

@media (max-width: 800px){ 
    body{
      overflow-x: hidden;
    }
  #indexFooter{
    width: 110%;
  }
    #contact{
      margin:0px;
      width: 100%;
      height: 100px;
      padding-left: 0%;
      overflow-x: hidden;
  }
  #insta{
    margin-top: 8%;
    padding-right: 10%;
    margin-left: -8%
  }
  #contact img{
    width: 20px;
    height: 20px;
    padding: 35px 0px 20px 10px
}
  .nav{ 
    display: grid;
    justify-content: center;
    width: 100%;
    font-size: small;
    padding-bottom: 10%;
    margin-top: -50%;
   
}
.nav img{
  width: 80%;
  height: 80%;
  padding-top: 45%;
  margin-left: 10%;
  
}
.nav a{
  font-size: smaller;
  padding-left: 2px;
  font-weight: 600;
}

.dropbtn{
  font-size: smaller;
  padding: 2px;
  font-weight: 600;
}
#ellipse{
  margin: 0;
  width: 100%;
  overflow: hidden;
  
}
#ellipse img{
  width: 50%;
}
#ellipseImage1{
  top: 10%;
  right: 23%;
  }
  #ellipseImage2{
    bottom: 20%;
    left: 25%;
  }
  #ellipseImage3{
    bottom: 10%;
  }
  .roundCardsContainer{
    margin-left: 0%;
  }


.container{
  width: 100%;
  display:grid;
  justify-content: center;
  overflow-x: hidden;
}

.howItWorks{
  width: 100%;
  margin-bottom: 20%;
  margin-left: -5%;
  overflow: hidden;
}
.welcomeMessage{
  width: 89%;
  padding-left: 0%;
  overflow-x: hidden;
}
#welcomeImg{
  width: 70%;
  height: 100%;
  overflow-x: hidden;
  
}
.cards{
  width: 70%;
  overflow-x: hidden;
}
.cards img{
  width:100%;
  overflow-x: hidden;
}
.strategicContainer{
  width: fit-content;
  margin: 0;
  overflow-x: hidden;
}
.choice{
  width: 100%;
  display: block;
  padding: 0;
  padding-top: 10%;
  overflow-x: hidden;
}
#img9{
  width: 90%;
  margin-left: 5%;
}

.NDIS{
  width: fit-content;
  overflow-x: hidden;
}
.stayConnected{
  margin: 0;
  padding-right: 10%;
  overflow-x: hidden;
  
}
.stayConnected h2{
  padding-left: 20%;
  
}
.bookContainer{
  display: flex;
  justify-content: center;
}
.instagramBtn{
  margin-top: 10%;
  margin-left: 25%;
}
.altContact{
  margin-left: 15%;
  text-align: center;
  padding-left: 10%;
}
.emailCallContainer{
  display: block;
  margin-left: -10%;
  
}
#emailUs{
  background-position: left 0px center;
  width: 76%;
  padding-left: 25%;
  padding-top: 5%;
  margin-bottom: 5%;
 
}
#emailUs p{
  padding-top: 10%;
  padding-right: 30%;
}
#emailUs h3{
  padding-top: 20%;
  margin-bottom: -10%;
}
#callUs{
  padding-top: 5%;
  width: 76%;
  padding-left: 25%;
  background-position: left 0px center;
  
}
.contactUsForm{
  margin-left: 15%;
  overflow-x: hidden;
}
.smallInput{
  height: 50px;
}
#smallInputs{
  margin-left:5% ;
  display: grid;
  width: 290%;
}
#message{
  height: 200px;
}
#submitNow{
  margin-left: 75px;
  padding: 10px;
  overflow-x: hidden;
}
.contactUsIndex{
  width: 110%;
  text-align: center;
  font-size: smaller;
  
}
.contacts{
  padding-right: 20%;
  overflow-x: hidden;
}
.ctrl{
  padding: 10px;
  padding-right: 40px;
  overflow-x: hidden;
}
#graceText{
  width: 75%;
  margin-left: 12%;
  overflow-x: hidden;
}
.supportCoordination{
  display: flex;
  justify-content: center;
  font-size: 10px;
  overflow-x: hidden;
  margin-left: 1%;
}
.contactUsContainer{
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.vector{
  overflow-x: hidden;
  width: 4%;
}
.unsplash {
  display: grid;
  height: fit-content;
  overflow-x: hidden;
}
#unsplash{
  overflow-x: hidden;
  width: 100%;
}

/* training service page */
#tImg{
  margin-left: -5%;
  width: 90%;
  overflow-x: hidden;
}
#smallPhone{
 margin: 0px;
 margin-bottom: 10px;

}
#smallEmail{
margin: 0px;
}
.behaviourContainer{
  text-align: center;
  width: 100%;
  padding: 20%;
  margin-left: -10%;
  overflow-x: hidden;
}
.behaviourContainer p{
  width: 88%;
}
.behaviourContainer h1{
  width: 90%;
}
.listOfServices{
  width: 95%;
  overflow-x: hidden;
}
#listOfServices1{
 padding-left: 70px;
}
.therapists{
  width: 75%;
  margin: 0;
  margin-top: 10%;
  overflow-x: hidden;
}
/* contactUs page */
.callToday{
  padding-left: 10%;
}
.detail{
  width: 300px;
}

.detailMessage{
  width: 300px;
}
/* about us page */
.jobOpportunities{
  margin: 0;
  width: fit-content;
  height: 100%;
  overflow-x: hidden;
}
.whoWeAre{
  overflow-x: hidden;
  width: 70%;
}
/* youth mentoring page */

}